BOT_TOKEN=your_bot_token_here

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your_user_here
DB_PASSWORD=your_password_here
DB_NAME=liker_bot

# Путь к папке с аккаунтами (страны/номера/сессии)
COUNTRY_FOLDER=accounts

# Telegram ID администратора, единственный кто может пользоваться ботом
ADMIN_ID=288657881

# API-данные для Telethon (для аккаунтов)
API_ID=123456
API_HASH=your_api_hash_here
