# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environment

.venv/
venv/

# Environment variables

.env


# Project data

data/

# Telegram sessions

*.session
*.session-journal
*.dat

# Logs

*.log

# OS

.DS_Store
Thumbs.db

# IDE

.idea/
.vscode/
